body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-image: url(../img/background.jpg);
    background-repeat: round;
    color: white;
}

.d-none{
    display: none;
}
table {
    border-collapse: collapse;
}

tr {
    width: 420px;
}

td {
    width: 140px;
    height: 140px;
    border: 5px solid white;
    cursor: pointer;
}

td:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

tr:first-child td {
    border-top: 0;
}

tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

.imgCrossCircle{
    position: absolute;
    height: 100px;
    width: 100px;
}

td div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#line_0{
    top: 62px;
}

#line_1{
    top: 209px;
}

#line_2{
    top: 356px;
}

#line_3{
    top: 209px;
    right: -2px;
}

#line_4{
    top: 209px; 
    right: -150px;
}

#line_5{
    top: 209px; 
    right: -297px;
}

#line_6{
    top: 209px;
    width: 425px;
}

#line_7{
    top: 209px;
    width: 425px;
}
.player_panel {
    margin-bottom: 2em;
    display: flex;
}
.player_panel div{
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-left: 16px;
}

.player_panel div p{
    margin-right: 16px;
    margin-left: 16px;
    font-size: 32px;
}

.player_inactive{
    opacity: 0.5;
}

.horizontal_line {
    height: 18px;
    width: 300px;
    position: absolute;
    transform: scaleX(0);
    transition: transform 225ms ease-in-out;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.vertical_line{
    transform: rotate(90deg) scaleX(0);
}

.table_lineOverlay{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game_over{
    position: absolute;
    object-fit: fill;
    height: 70vH;
    width: 100vw;
    z-index: 2;
    animation: zoomIn 225ms ease-in-out;
}

.restart{
    position: absolute;
    top: 75vh;
    border: 3px solid red;
    background-color: white;
    border-radius: 20px;
    padding: 20px 50px 20px 50px;
    z-index: 2;
    cursor: pointer;
    font-size: 24px;
}

.restart:hover{
    background-color: rgba(255, 0, 0, 0.5);
    color: white;

}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}